* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  height: 100%;
  width: 100%;
  /* background: radial-gradient(#1B2430, #6b7562); */
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #1b2430;
  color: #a4b494;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

hr {
  color: white;
  margin: 50px 0px;
}

section {
  height: 100%;
}

.navbar {
  background-color: #1b2430;
  width: 100%;
}

.navbar-brand {
  font-family: "Press Start 2P";
  padding-left: 1%;
}

.nav-item {
  padding-right: 1.5rem;
  font-weight: bold;
}

.header {
  position: relative;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
}

.typing {
  margin: 0;
  padding: 0;
  width: 7ch;
  font-size: 5em;
  animation: typing 0.8s steps(7), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  top: 42%;
  left: 42%;
  position: absolute;
  z-index: 100;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.other-sections {
  height: auto;
  margin: 3% 15%;
  text-align: center;
  line-height: 2;
  position: relative;
}

.about {
  font-size: 2em;
}

.skills {
  font-size: 1.2em;
}

.contacts {
  font-size: 1.2em;
  padding: 0%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#contacts {
  text-align: center;
}

.footer-image {
  padding: 3% 5%;
  margin-bottom: 2%;
  color: #a4b494;
}

.footer-image:hover {
  color: #6b7562;
}

@media screen and (max-width: 800px) {
  body {
    height: 50vh;
  }

  .typing {
    font-size: 3em;
    left: 25%;
    top: 25%;
  }

  #canvas1 {
    height: 40%;
    width: fit-content;
  }
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/gif/preloader.gif) center no-repeat #a4b494;
}
