<template>
  <style>
    svg {
      width: 114px;
      height: 114px;
      margin: 2em;
    }

    text {
      fill: #a4b494;
      text-align: center;
    }

    .dashboard {
      padding: 0% 10%;
      text-align: center;
    }

    .bg {
      fill: none;
      stroke-width: 10px;
      stroke: #1a2c34;
    }

    [class^="meter-"] {
      fill: none;
      stroke-width: 10px;
      stroke-linecap: round;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke: rgb(19, 255, 90);
      stroke-dasharray: 360;
    }

    .meter-90 {
      stroke-dashoffset: 80%;
      animation: progress-90 1s ease-out;
    }

    .meter-80 {
      stroke-dashoffset: 100%;
      animation: progress-80 1s ease-out;
    }

    .meter-70 {
      stroke-dashoffset: 120%;
      animation: progress-70 1s ease-out;
    }

    .meter-60 {
      stroke-dashoffset: 140%;
      animation: progress-60 1s ease-out;
    }

    @keyframes progress-90 {
      from {
        stroke-dashoffset: 360%;
      }

      to {
        stroke-dashoffset: 80%;
      }
    }

    @keyframes progress-80 {
      from {
        stroke-dashoffset: 360%;
      }

      to {
        stroke-dashoffset: 100%;
      }
    }

    @keyframes progress-70 {
      from {
        stroke-dashoffset: 360%;
      }

      to {
        stroke-dashoffset: 120%;
      }
    }

    @keyframes progress-60 {
      from {
        stroke-dashoffset: 360%;
      }

      to {
        stroke-dashoffset: 140%;
      }
    }
  </style>
  <svg>
    <circle class="bg" cx="57" cy="57" r="52" />
    <circle id="skill-bar" class="meter-90" cx="57" cy="57" r="52" />
    <text
      id="skill-text"
      x="50%"
      y="50%"
      dominant-baseline="middle"
      text-anchor="middle"
    ></text>
  </svg>
</template>
